$color-azul-menu: #465A63;
$color-azul-borde-submenu: #48a7f2;
$color-blanco: #fff;
$color-gris-letras: gray;

.navbar-zapatillas{
    
    background-color: $color-azul-menu;
    border-color: $color-azul-menu;
    color: $color-blanco;
    font-size: 1.1em;

    .nav>li>a{
        background-color: $color-azul-menu;
        border-color: $color-azul-menu;
        color: $color-blanco;
        font-size: 1.1em;
    }
    
    .nav>li>a:focus, 
    .nav>li>a:hover,
    .nav>li>a:active{
        background-color: $color-azul-menu;
        border-color: $color-azul-menu;
        color: $color-gris-letras;
        font-size: 1.1em; 
    }

    .nav{
        
        .open>a{
            background-color: $color-azul-menu;
            border-color: $color-azul-menu;
            color: $color-blanco;
            font-size: 1.1em;
        }
        
        .open>a:focus, 
        .open>a:hover,
        .open>a:active
        {
            background-color: $color-azul-menu;
            border-color: $color-azul-menu;
            font-size: 1.1em;
            color: $color-gris-letras;
        }
    }
    
    .navbar-toggle{
        .icon-bar{
            background-color: $color-blanco;
        }
    }
    
    .dropdown.open{
        border-bottom: 2px solid $color-azul-borde-submenu;
    }
    
    .dropdown-menu{
        background-color: $color-blanco;
        border: 1px solid $color-azul-borde-submenu;
    }
}


.navbar-zapatillas.icon-bar{ background-color: $color-blanco;}

.dropdown-menu, .nav-tabs.nav-justified>.dropdown .dropdown-menu {
  margin-left: 100px;
}

@media (min-width: 768px){
  .navbar-zapatillas {
      border-radius: 0;
      margin-bottom: 0;
  }

  .dropdown-menu, .nav-tabs.nav-justified>.dropdown .dropdown-menu {
    margin-left: 55px;
  }

}
